@model Convert_Playlist.ViewModel.UsuarioSpotify
@{
    ViewBag.Title = "Conveter Playlists";
    ViewBag.Description = "Exportar Playlists";
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">

            Playlis <strong id="nome-playlist"></strong>
            <button type="button" class="btn btn-danger" title="Exportar playlist para youtube" id="btn-exportar" data-toggle="tooltip"><span> </span><i class="fa fa-youtube-play" aria-hidden="true"></i></button>
        </h3>
        <div id="status">Total:<strong id="total"></strong>  Atual:<strong id="atual"></strong></div>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="playlist">

        </div>
        <!-- /.table-responsive -->
    </div>
</div>
@section Script{
<script>

    $(document).ready(function () {
        var parametros = {
            viewModel: @Html.Raw(Json.Encode(Model)),
            urls: {
                apiPlaylistTrack:"@Url.HttpRouteUrl("ActionApi", new { controller= "Spotify", action = "PlaylistTrack" })",
                apiCriarPlaylist: "@Url.HttpRouteUrl("ActionApi", new { controller= "Youtube", action = "CriarPlaylist" })",
                apiCriarPlaylistItem: "@Url.HttpRouteUrl("ActionApi", new { controller= "Youtube", action = "CriarPlaylistItem" })",
            }
        };
        var app = new App(parametros);
    });

</script>
}
